<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'access/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'access/layout.css' %}">
</head>
<body>
    <main class="access-form">
        <h1 id="login-form-header"> Food Log </h1>
        <form id="login-form" action="{% url 'access:login' %}" method="post">
            {% csrf_token %}
            <div class="form-content">
                <h2> Login </h2>
                {# Still renders even if fields not entered #}
                {% if form.non_field_errors %}
                    <div class="error-message">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="error-message"> {{ field.errors }} </div>
                    {% endif %}
                    <div class=input-field id="{{ field.name }}-input">
                        {{ field.label_tag }}
                        <br/>
                        {{ field }}
                    </div>
                    <br/>
                {% endfor %}
                <button type="submit"> Login </button>
            </div>
        </form>
    </main>
    <footer>
        <p> Need an account? <a href="{% url 'access:signup' %}">Sign up</a> instead</p>
    </footer>
</body>
</html>
