:root {
    --link-default-color: #7bd3f7;
    --link-hover-color: #48b4e0;
}

body {
    text-align: center;
}

.food-log-data {
    text-align: center;
}

a:hover {
    color: var(--link-hover-color);
}

#create-log-redirect {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: chartreuse;
    border: 5px solid green;
    border-radius: 1%;
}

.log-container {
    text-align: center;
}