body {
    text-align: center;
}

#create-log-redirect {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: chartreuse;
    border: 5px solid green;
    border-radius: 1%;
}

.food-icon {
    vertical-align: middle;
    width: var(--icon-size);
    height: var(--icon-size);
}

ul {
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    grid-row-gap: 30px;
}

.log-entry-container {
    width: 75vw;
    text-align: left !important;
    border: 5px solid white;
}

.log-entry-details {
    display: inline;
    padding-left: 20px;
}
