.post-container {
    display: grid;
    justify-content: center;
    /* Put space between icon and container text */
    grid-gap: 5px;
    margin-bottom: 5px;
    grid-template-columns: var(--icon-size) 70%;
}

.navbar {
    background-color: #404040;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}
