{% extends 'base.html' %}

{% block title %}
    Change Email
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'settings/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'settings/layout.css' %}">
{% endblock %}

{% block body %}
    <h1> Change Your Email </h1>
    <form id="email-form" action="{% url 'settings:email' %}" method="post">
        {% csrf_token %}
        <div id="form-fields">
            {# Only render general error message if no field-specific ones exist #}
            {% if form.errors|length == form.non_field_errors|length %}
                {% for err in form.non_field_errors %}
                    <div class="form-error-message">
                        {{ err }}
                    </div>
                {% endfor %}
                <br/>
            {% endif %}
            {% for field in form %}
                <div class="error-message"> {{ field.errors }} </div>
                <div class="input-field">
                    {{ field.label_tag }}
                    <br/>
                    {{ field }}
                </div>
                <br/>
            {% endfor %}
            <button type="submit"> Change Email </button>
        </div>
    </form>
{% endblock %}
