{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'settings/layout.css' %}>
{% endblock %}

{% block body %}
    <h1> Settings </h1>
    <a href="{% url 'settings:password' %}"> Change Password </a> <br/><br/>
    <a href="{% url 'settings:email' %}"> Change Email </a> <br/><br/>
    <a href="{% url 'settings:privacy' %}"> Change Privacy Settings </a> <br/><br/>
    <a href="{% url 'settings:delete-acc' %}"> Delete Account </a> <br/><br/>
{% endblock %}
