{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
    <h1> Change Your Password </h1>
    <form id="password-form" action="{% url 'settings:password' %}" method="post">
        {% csrf_token %}
        <div id="form-fields">
            {# Only render general error message if no field-specific ones exist #}
            {% if form.errors|length == form.non_field_errors|length %}
                {% for err in form.non_field_errors %}
                    <div class="form-error-message">
                        {{ err }}
                    </div>
                {% endfor %}
                <br/>
            {% endif %}
            {% for field in form %}
                <div class="error-message"> {{ field.errors }} </div>
                <div class="input-field">
                    {{ field.label_tag }}
                    <br/>
                    {{ field }}
                </div>
                <br/>
            {% endfor %}
            <button type="submit"> Change Password </button>
        </div>
    </form>
{% endblock %}
