{% extends 'base.html' %}

{% block title %}
    Privacy Settings
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'settings/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'settings/layout.css' %}">
{% endblock %}

{% block body %}
    <h1> Privacy Settings </h1>
    <form id="privacy-form" action="{% url 'settings:privacy' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Save Changes </button>
    </form>
{% endblock %}