{% extends 'base.html' %}

{% block title %}
    {{ target.username }}'s Profile
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'profiles/styles.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'profiles/layout.css' %}>

{% endblock %}

{% block body %}
    <main class="profile">
        <section class="profile-container">
            <h1> {{ target.username }} </h1>
            <img class='profile-picture' src='{{ target.profile_picture.url }}'
             alt="profile-avatar">
            <br/><br/>
            {% if user.is_authenticated %}
                <form enctype="multipart/form-data" action="{% url 'profiles:user' user.id %}"
                method="POST">
                    {% csrf_token %}
                    {% if target.email == user.email %}
                        {{ form }}
                        <button type="submit"> Upload </button>
                        <br/><br/>
                    {% endif %}
                </form>
            {% endif %}
        </section>
        <hr/>
        <section class="user-logs">
            <h2> Food Logs </h2>
            <div class="logs-container">
                {% for log in logs %}
                    <p>
                        {{ target.username }} ate
                        <a href="{% url 'logs:detail' log.id %}"> {{ log.food.name }} </a>
                        on {{ log.pub_date.date }} ({{ log.pub_date.time }})
                    </p>
                {% endfor %}
            </div>
        </section>
    </main>

{% endblock %}
