{% extends 'base.html' %}

{% block title %}
    {{ target.username }}'s Profile
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'profiles/styles.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'profiles/layout.css' %}>

{% endblock %}

{% block body %}
    <main class="profile">
        <section class="profile-container">
            <h1> {{ target.username }} </h1>
            <img class='profile-picture' src='{{ target.profile_picture.url }}'
             alt="profile-avatar">
            <div id="stats-container">
                <p> Account age: {{ day_age }} days </p>
                <p> Total calories logged: {{ calories_count }} </p>
            </div>
            <br/><br/>
            {% if user.is_authenticated and target.email == user.email %}
                <form enctype="multipart/form-data" action="{% url 'profiles:user' user.id %}"
                method="POST">
                    {% csrf_token %}
                        {{ form }}
                        <button type="submit"> Upload </button>
                        <br/><br/>
                </form>
            {% endif %}
        </section>
        <hr/>
        <section class="user-logs">
            <h2> Food Logs ({{ logs|length }}) </h2>
            {% if logs %}
                <div class="logs-container">
                    {% for log in logs %}
                        <p>
                            <a href="{% url 'logs:detail' log.id %}"> {{ log.food.name }} </a>
                            on {{ log.pub_date.date }} ({{ log.pub_date.time }})
                        </p>
                    {% endfor %}
                </div>
            {% else %}
                <p> {{ target.username }} has no logs to show </p>
            {% endif %}
        </section>
    </main>

{% endblock %}
