{% extends 'base.html' %}

{% block title %}
    {{ target.username }}'s Profile
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'profiles/styles.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'profiles/layout.css' %}>

{% endblock %}

{% block body %}
    <div class="profile-container">
        <h1> {{ target.username }} </h1>
        {# User profile picture should go here when implemented #}
        <img class='profile-picture' src='{% static 'images/default-avatar.jpg' %}'
             alt="profile-avatar">
        <br/><br/>
        {% if target.email == user.email %}
            {{ form }}
        {% endif %}
        <br/><br/>
        <div class="user-logs">
            User logs will go here
        </div>
    </div>
{% endblock %}
