<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'nav-layout.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'nav-style.css' %}>
    {% block links %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
    <br/> <br/>
</body>
<footer>
    {% if user.is_authenticated %}
        <nav class="navbar">
            <a id="home" href={% url 'logs:index' %}> Home </a>
            <a id="nav-users" href={% url 'profiles:index' %}> Users </a>
            <a id="nav-create-log" href={% url 'logs:create-log' %}> Create Log </a>
            <a id="nav-profile" href={% url 'profiles:user' user.id %}> Profile </a>
            <a id="nav-settings" href={% url 'settings:index' %}> Settings </a>
            <a id="nav-logout" href={% url 'access:logout' %}> Logout </a>
        </nav>
    {% endif %}
</footer>
</html>