{% extends 'logs/logs_base.html' %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'logs/create-log.css' %}">
{% endblock %}

{% block body %}
    <h1> Create a Food Log </h1>
    <main class="main-content">
        <section class="food-log-form">
            {% if user.is_authenticated %}
                <form id="log-form" action="{% url 'logs:create-log' %}" method="post">
                    {% csrf_token %}
                    <div id="form-fields">
                        {% for field in form %}
                            <div class="error-message"> {{ field.errors }} </div>
                            <div class="input-field">
                                {{ field.label_tag }}
                                <br/>
                                {{ field }}
                            </div>
                            <br/>
                        {% endfor %}
                        <button type="submit"> Comment </button>
                    </div>
                </form>
            {% else %}
                <h2>
                    You must be <a href="{% url 'access:signup' %}">logged in</a> to create a log!
                </h2>
            {% endif %}
        </section>
    </main>
{% endblock %}
