{% extends "logs/logs_base.html" %}

{% block page_title %}
    {{ log.creator.username }}'s Log
{% endblock %}

{% block page_links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'logs/detail-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logs/detail-layout.css' %}">
{% endblock %}

{% block content %}
    <main class="food-log-data">
        <div class="log-container">
            <h1> {{ log.food.name }} </h1>
            <div class="log-body">
                <div class="log-food-info">
                    <h2 class="body-header"> Description </h2>
                    <p class="body-text"> {{ log.food.desc }} </p>
                    <h2 class="body-header"> Ingredients </h2>
                    <p class="body-text"> {{ log.food.ingredients }} </p>
                    <h2 class="body-header"> Calories: {{ log.food.calories }} </h2>
                </div>
            </div>
            <br/>
            <!-- Can potentially add image(s) here -->
            <div class="log-footer">
                <p>
                    <a href="{% url 'profiles:user' log.creator.id %}">
                        {{ log.creator.username }}
                    </a>
                    <br>
                    {{ log.pub_date }}
                </p>
            </div>
            <br/>
        </div>
    </main>

    <section id="comments">
        <h2 id="comment-header"> {{ comment_list|length }} Comments </h2>
        {% if user.is_authenticated %}
            <form id="comment-form" action="{% url 'logs:add-comment' log.id %}" method="post">
                {% csrf_token %}
                <label for="comment-text"></label>
                <textarea minlength="1" id="comment-text" name="comment-text"
                          placeholder="Add a comment" required></textarea>
                <br/>
                <button type="submit"> Comment </button>
            </form>
        {% else %}
            <p class="authenticate-message">
                <a href="{% url 'access:signup' %}">Sign up</a> to leave a comment!
            </p>
        {% endif %}
        <br/>
        {% if comment_list %}
            <div id="comment-list-container">
                {% for comment in comment_list %}
                    <div class="post-container">
                        <div class="post-header">
                            <img alt="Default Icon" class="profile-icon"
                                 src="{% static 'images/default-avatar.jpg' %}"/>
                        </div>
                        <div class="post-body">
                            <div class="post-body-data">
                                <div class="username-text">
                                    <a href="{% url 'profiles:user' comment.creator.id %}">
                                        {{ comment.creator.username }}
                                    </a>
                                </div>
                                <div class="comment-date"> {{ comment.pub_date.date }} </div>
                            </div>
                            <p class="comment-body"> {{ comment.comment }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p id="no-comments-message"> Be the first to comment. </p>
        {% endif %}
    </section>
    {% if error_message %}
        <p> {{ error_message }} </p>
    {% endif %}
{% endblock %}
