<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Food Log List </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'logs/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logs/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logs/index-style.css' %}">
</head>
<body>
    <h1>
        {% if user.is_authenticated %}
            Hi {{ user.username }}! Here are the most recent logs
        {% else %}
            Create your own food log -
            <a href="{% url 'access:signup' %}"> Sign Up </a>
        {% endif %}
    </h1>
    <main class="main-content">
        <section class="food-log-data">
            {% if latest_logs %}
                {% for log in latest_logs %}
                    <div class="post-container">
                        <img class="profile-icon" alt='user-icon'
                             src="{% static 'logs/images/default-avatar.jpg' %}"/>
                        <div class="log-body">
                            <p>
                                {{ log.creator.username }} uploaded
                                <a href="{% url 'logs:detail' log.id %}">
                                    {{ log.food.name }}</a>
                                log on {{ log.pub_date.date }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p> No logs are available. </p>
            {% endif %}
        </section>
    </main>
    <br/>
    <br/>
    {% if user.is_authenticated %}
        <a id="create-log-redirect" href="{% url 'logs:create-log' %}">
            Create a log
        </a>
    {% endif %}
</body>
</html>
