{% extends 'logs/logs_base.html' %}

{% block page_title %}
    Logs Index
{% endblock %}

{% block page_links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'logs/index-style.css' %}">
{% endblock %}

{% block content %}
    <h1>
        {% if user.is_authenticated %}
            Hi {{ user.username }}! Here are the most recent logs
        {% else %}
            Create your own food log -
            <a href="{% url 'access:signup' %}"> Sign Up </a>
        {% endif %}
    </h1>
    <form action="{% url 'logs:index' %}" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>
    <br/>
    <main class="main-content">
        <section class="food-log-data">
            {% if latest_logs %}
                <ul>
                {% for log in latest_logs %}
                    <li>
                    <div class="log-entry-container">
                        <img class="food-icon" alt='Log Icon'
                             src="{{ log.creator.profile_picture.url }}"/>
                        <p class="log-entry-details">
                            <a href="{% url 'profiles:user' log.creator.id %}">
                                {{ log.creator.username }}
                            </a>
                            uploaded
                            <a href="{% url 'logs:detail' log.id %}">
                                {{ log.food.name }}
                            </a>
                            log on {{ log.pub_date.date }}
                        </p>
                    </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p> No logs are available. </p>
            {% endif %}
        </section>
    </main>
    <br/>
    <br/>
    {% if user.is_authenticated %}
        <a id="create-log-redirect" href="{% url 'logs:create-log' %}">
            Create a log
        </a>
    {% endif %}
    <br/><br/>
{% endblock %}
